.chevron-right-icon {
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

.chevron-right-icon__inset {
  position: absolute;
  top: 25%;
  right: 31.25%;
  bottom: 25%;
  left: 37.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: size;
}

.chevron-right-icon__flip {
  flex: none;
  width: 100cqw;
  height: 100cqh;
  transform: scaleX(-1);
}

.chevron-right-icon__path {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
}
